body {
  background: #3c1c1c;
  font-family: Arial, sans-serif;
}
h2{
 margin-top: auto;
}
.center-box {
  margin-top: 40px;
  padding: 20px;
  width: 260px;
  border: 3px solid black;
  border-radius: 15px;
  background: rgb(197, 193, 205);
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

#display {
  width: 220px;
  height: 40px;
  margin-bottom: 20px;
  background: lightblue;
  font-size: 22px;
  text-align: right;
  border: 2px solid #555;
  border-radius: 8px;
  padding-right: 10px;
}

.calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

button {
  height: 45px;
  font-size: 18px;
  border: 2px solid rgb(7, 7, 9);
  border-radius: 10px;
  background: yellow;
  cursor: pointer;
  transition: 0.2s;
}

.clear-btn {
  width: 100%;
  margin-top: 15px;
  background: #8386e0;
  color: white;
  border: none;
  height: 45px;
  font-size: 18px;
  border-radius: 8px;
}


